/* Styles for the Advanced Markup assignment. */
body {
	background-color: #db704c;
}
nav ul li {
	display: inline;

}
 h1 {
	text-align:center;
	 Font-family: Vladimir Script, Harrington, Freestyle Script, Blackadder ITC, arial; 
	font-weight: bold;
	font-size: 50px;
	text-shadow:2px 4px 4px whitesmoke;
}

a.active {
	font-weight: bold;
}
#content{
	background-color: #ffcc33;
	
	padding: 10px;
}
#content ul li {
	list-style-type: none;
	text-align:center;
	font-family: Vladimir Script, Harrington, Freestyle Script, Blackadder ITC, arial;
	font-weight: bold;
	font-size: 30px;
	text-shadow:2px 4px 4px whitesmoke;
}

#content p {
	font-family: Courier New,Lucida Sans Typewriter,Book Antiqua,Bookman Old Style,Franklin Gothic Medium Cond,arial;
}

 #sidebar {
	width: 250px;
	float: right;
	background-color:white;
	list-style: none;	
	padding: 10px;
	margin-right: 5px;
	font-family: Courier New,Lucida Sans Typewriter,Book Antiqua,Bookman Old Style,Franklin Gothic Medium Cond,arial;
}

.bio-photo {
	float:left;
}
figure {
	display: table;
	width: 10px;
}

img, figcaption {
	display: table-row;
}

table {
	border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}